package templates

import "{{ .Backend.ModuleName }}/templates/pages"

// Define a secure policy for Content-Security-Policy header.
var metaContentSecurePolicy = "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' https://unpkg.com 'unsafe-inline' 'unsafe-eval';{{ if eq .Frontend.CSSFramework "tailwindcss" }} img-src 'self' data: http://cdn.tailwindcss.com;{{ end }}"

templ Layout(title string, metaTags, bodyContent templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<meta http-equiv="Content-Security-Policy" content={ metaContentSecurePolicy }/>
			<meta name="theme-color" content="#FEFEF5"/>
			<title>{ title }</title>
			{! metaTags }
			<link rel="manifest" href="/static/manifest.json"/>
			<link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png"/>
			<link rel="shortcut icon" href="/static/favicons/favicon.ico" type="image/x-icon"/>
			<link rel="icon" href="/static/favicons/favicon.svg" type="image/svg+xml"/>
			<link rel="icon" href="/static/favicons/favicon.png" sizes="any"/>
			<link href="/static/styles.css" rel="stylesheet"/>
		</head>
		<body onload={ pages.BodyScripts() }>
			<main>
				<div>
					<p>
						<img width="224px" src="/static/images/logo.svg" alt="logo"/>
					</p>
					<div>
						{! bodyContent }
						<p>
							<a href="https://gowebly.org" target="_blank">Documentation</a>,
							<a href="https://github.com/gowebly/gowebly" target="_blank">GitHub</a>
						</p>
					</div>
					<div>
						<p><button hx-get="/api/show" hx-target="#htmx-result">Show content</button></p>
						<div id="htmx-result"></div>
					</div>
				</div>
			</main>
			<script src="/static/htmx.min.js"></script>
			<script src="/static/hyperscript.min.js"></script>
		</body>
	</html>
}
