<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline';">
        <title>{{ block "title" . }}{{ end }}</title>
        {{ block "meta" . }}{{ end }}
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link href="/static/styles.css" rel="stylesheet">
        {{ block "styles" .}}{{ end }}
    </head>
    <body>
        {{ block "content" . }}{{ end }}
        <script src="/static/htmx.min.js"></script>
        <script src="/static/hyperscript.min.js"></script>
        {{ block "scripts" .}}{{ end }}
    </body>
</html>
