<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' data: https://fonts.gstatic.com; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self' ws://localhost:*; img-src 'self' data:*;" />
    <meta name="theme-color" content="#FEFEF5" />
    <title>{{ block "title" . }}{{ end }}</title>
    {{ block "meta" . }}{{ end }}
    <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="//fonts.gstatic.com"/>
    <link rel="preconnect" href="//fonts.googleapis.com" crossorigin/>
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin/>
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/static/favicon.png" sizes="any" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"/>
    <link href="/static/styles.css" rel="stylesheet" />
    {{ block "styles" .}}{{ end }}
</head>

<body>
    {{ block "content" . }}{{ end }}
    <script src="/static/scripts.js"></script>
    {{ block "scripts" .}}{{ end }}
</body>

</html>