import 'htmx.org';
{{ if eq .ReactivityLibrary "htmx_hyperscript" }}import 'hyperscript.org';{{ end }}
{{ if eq .CSSFramework "bootstrap" }}import * as bootstrap from 'bootstrap';{{ else if eq .CSSFramework "flowbite" }}import 'flowbite';{{ end }}