/** @type {import('tailwindcss').Config} */
module.exports = {
    content: [
        "**/*.{html,templ}",
        {{ if eq .CSSFramework "flowbite" }}"./node_modules/flowbite/**/*.js",{{ end }}
    ],
    theme: {
        extend: {},
    },
    plugins: [
        require("@tailwindcss/typography"),
        {{ if eq .CSSFramework "daisyui" }}
        require("daisyui"),
        {{ else if eq .CSSFramework "flowbite" }}
        require('flowbite/plugin'),
        {{ end }}
    ],
}
