@tailwind base;
@tailwind components;
@tailwind utilities;

/* User styles */

@layer base {
    body {
        @apply bg-[#FEFEF5] text-slate-800 font-sans;
    }

    h1 {
        @apply text-2xl text-blue-600;
    }

    div {
        @apply mt-4 mb-4;
    }

    a {
        @apply text-blue-400 underline hover:text-blue-200 hover:no-underline;
    }

    p {
        @apply mt-1 mb-1;
    }

    button {
        @apply bg-blue-600 text-white rounded cursor-pointer pt-2 pb-2 pl-4 pr-4 hover:bg-blue-400;
    }
}
