{
    "plugins": {
        {{ if or (eq .CSSFramework "daisyui") (eq .CSSFramework "flowbite") (eq .CSSFramework "tailwindcss") }}
        "tailwindcss": {}
        {{ else if eq .CSSFramework "unocss" }}
        "@unocss/postcss": {}
        {{ end }}
    }
}
