<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome to example!</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        {{ block "gowebly-head-styles" . }}{{ end }}
    </head>
    <body>
        <main>
            <h1>Welcome to example!</h1>
            <p>You're here because it worked out.</p>
        </main>
        {{ block "gowebly-body-scripts" . }}{{ end }}
    </body>
</html>
