{
  "name": "{{ .PackageName }}",
  "version": "1.0.0",
  "description": "Test.",
  "license": "MIT",
  "browserslist": "> 0.5%, last 2 versions, not dead",
  "source": [
    "./assets/styles.css"
  ],
  "targets": {
    "default": {
      "distDir": "./static"
    }
  },
  "scripts": {
  },
  "devDependencies": {
    "@tailwindcss/typography": "latest",
    "parcel": "latest",
    "postcss": "latest",
    "tailwindcss": "latest"
  }
}
