package main

import (
	{{ if eq .TemplateEngine "templ" }}"context"{{ end }}
	"fmt"
	"net/http"
	"strconv"
	"time"

	{{ if eq .TemplateEngine "templ" }}
	"github.com/a-h/templ"
	"github.com/gin-gonic/gin/render"
	{{ end }}
	"github.com/gin-gonic/gin"

	gowebly "github.com/gowebly/helpers"
)

{{ if eq .TemplateEngine "templ" }}
// TemplRender implements the render.Render interface.
type TemplRender struct {
	Code int
	Data templ.Component
}

// Render implements the render.Render interface.
func (t TemplRender) Render(w http.ResponseWriter) error {
	t.WriteContentType(w)
	w.WriteHeader(t.Code)
	if t.Data != nil {
		return t.Data.Render(context.Background(), w)
	}
	return nil
}

// WriteContentType implements the render.Render interface.
func (t TemplRender) WriteContentType(w http.ResponseWriter) {
	w.Header().Set("Content-Type", "text/html; charset=utf-8")
}

// Instance implements the render.Render interface.
func (t *TemplRender) Instance(name string, data interface{}) render.Render {
	if templData, ok := data.(templ.Component); ok {
		return &TemplRender{
			Code: http.StatusOK,
			Data: templData,
		}
	}
	return nil
}
{{ end }}

// runServer runs a new HTTP server with the loaded environment variables.
func runServer() error {
	// Validate environment variables.
	port, err := strconv.Atoi(gowebly.Getenv("BACKEND_PORT", "{{ .Port }}"))
	if err != nil {
		return err
	}
	readTimeout, err := strconv.Atoi(gowebly.Getenv("BACKEND_READ_TIMEOUT", "{{ .Timeout.Read }}"))
	if err != nil {
		return err
	}
	writeTimeout, err := strconv.Atoi(gowebly.Getenv("BACKEND_WRITE_TIMEOUT", "{{ .Timeout.Write }}"))
	if err != nil {
		return err
	}

	// Create a new Fiber server.
	router := gin.Default()

	{{ if eq .TemplateEngine "templ" }}
	// Define HTML renderer for template engine.
	router.HTMLRender = &TemplRender{}
	{{ end }}

	// Handle static files.
	router.Static("/static", "./static")

	// Handle index page view.
	router.GET("/", indexViewHandler)

	// Handle API endpoints.
	router.GET("/api/show", showContentAPIHandler)

	// Create a new server instance with options from environment variables.
	// For more information, see https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts/
	server := &http.Server{
		Addr:         fmt.Sprintf(":%d", port),
		ReadTimeout:  time.Duration(readTimeout) * time.Second,
		WriteTimeout: time.Duration(writeTimeout) * time.Second,
		Handler:      router,
	}

	return server.ListenAndServe()
}
