{
  "name": "{{ .PackageName }}",
  "version": "1.0.0",
  "description": "Frontend part with Tailwind CSS of the gowebly project.",
  "scripts": {
    "build:dev": "{{ if eq .RuntimeEnvironment "bun" }}bunx{{ else }}npx --yes{{ end }} tailwindcss -i ./assets/styles.css -o ./static/styles.css",
    "build:prod": "{{ if eq .RuntimeEnvironment "bun" }}bunx{{ else }}npx --yes{{ end }} tailwindcss -i ./assets/styles.css -o ./static/styles.css -m"
  },
  "license": "MIT",
  "devDependencies": {
    "autoprefixer": "latest",
    "postcss": "latest",
    "tailwindcss": "latest"
  }
}
