{{/* Set title text to this page. */}}
{{ define "title" }}Welcome to example!{{ end }}

{{/* (Optional) Set META tags to this page. */}}
{{ define "meta" }}
<meta name="keywords" content="gowebly, htmx example page, go with htmx">
<meta name="description" content="Welcome to example! You're here because it worked out.">
{{ end }}

{{/* (Optional) Set a custom styles to this page. */}}
{{ define "styles" }}{{ end }}

{{/* (Optional) Set a custom scripts to this page. */}}
{{ define "scripts" }}{{ end }}

{{/* Set HTML content to this page. */}}
{{ define "content" }}
<main class="grid place-items-center h-screen bg-[#FEFEF5] text-slate-800 font-sans">
    <div>
        <img width="224px" src="/static/logo.svg" alt="logo">
        <div>
            <h1 class="text-2xl text-blue-600">Welcome to example!</h1>
            <p>You're here because it worked out.</p>
            <p>
                <a class="text-blue-400 underline hover:text-blue-200 hover:no-underline"
                   href="https://gowebly.org" target="_blank">Documentation</a>,
                <a class="text-blue-400 underline hover:text-blue-200 hover:no-underline"
                   href="https://github.com/gowebly/gowebly" target="_blank">GitHub</a>
            </p>
        </div>
        <div>
            <p><button class="bg-blue-600 text-white rounded cursor-pointer pt-2 pb-2 pl-4 pr-4 border-0 hover:bg-blue-400"
                       hx-get="/api/show" hx-target="#htmx-result">Show content</button></p>
            <div id="htmx-result"></div>
        </div>
    </div>
</main>
{{ end }}
