{{/* Set title text to this page. */}}
{{ define "title" }}Welcome to example!{{ end }}

{{/* (Optional) Set META tags to this page. */}}
{{ define "meta" }}
<meta name="keywords" content="gowebly, htmx example page, go with htmx">
<meta name="description" content="Welcome to example! You're here because it worked out.">
{{ end }}

{{/* (Optional) Set a custom styles to this page. */}}
{{ define "styles" }}{{ end }}

{{/* (Optional) Set a custom scripts to this page. */}}
{{ define "scripts" }}{{ end }}

{{/* Set HTML content to this page. */}}
{{ define "content" }}
<main>
    <div>
        <p><img width="224px" src="/static/images/logo.svg" alt="logo"></p>
        <div>
            <h1>Welcome to example!</h1>
            <p>You're here because it worked out.</p>
            <p>
                <a href="https://gowebly.org" target="_blank">Documentation</a>,
                <a href="https://github.com/gowebly/gowebly" target="_blank">GitHub</a>
            </p>
        </div>
        <div>
            <p><button hx-get="/api/show" hx-target="#htmx-result">Show content</button></p>
            <div id="htmx-result"></div>
        </div>
    </div>
</main>
{{ end }}
