{
  "name": "{{ .PackageName }}",
  "version": "1.0.0",
  "description": "Frontend part without any CSS frameworks of the gowebly project.",
  "scripts": {
    "build:dev": "{{ if eq .RuntimeEnvironment 'bun' }}bunx{{ else }}npx --yes{{ end }} parcel build --no-cache --no-source-maps --no-optimize --dist-dir ./static ./assets/styles.css",
    "build:prod": "{{ if eq .RuntimeEnvironment 'bun' }}bunx{{ else }}npx --yes{{ end }} parcel build --no-cache --no-source-maps --dist-dir ./static ./assets/styles.css"
  },
  "license": "MIT",
  "browserslist": "> 0.5%, last 2 versions, not dead",
  "devDependencies": {
    "parcel": "latest"
  }
}
