package main

import (
	"log/slog"
	"net/http"
	"path/filepath"

	gowebly "github.com/gowebly/gowebly/pkg/templates" // helper for parse user templates
)

// indexViewHandler handles a view for the index page.
func indexViewHandler(w http.ResponseWriter, r *http.Request) {
	// Check, if current URL is '/'.
	if r.URL.Path != "/" {
		// If not, return HTTP 404 error.
		http.NotFound(w, r)
		return
	}

	// Define paths to the user templates.
	indexPage := filepath.Join("templates", "pages", "index.html")

	// Parse user templates or return error.
	tmpl, err := gowebly.ParseTemplates(indexPage)
	if err != nil {
		slog.Error("msg", err.Error())
		return
	}

	// Execute (render) all templates or return error.
	if err := tmpl.Execute(w, nil); err != nil {
		slog.Error("msg", err.Error())
		return
	}
}
