package main

import (
	"log/slog"
	"net/http"
	"os"

	_ "github.com/joho/godotenv/autoload" // autoload environment variables
)

func main() {
	// Handle views.
	http.HandleFunc("/", indexViewHandler)

	// Handle static files.
	http.Handle("/static", http.FileServer(http.Dir("./static")))

	// Run your server.
	if err := runServer(); err != nil {
		slog.Error("msg", err.Error())
		os.Exit(1)
	}
}
