package main

import (
	"log/slog"
	"net/http"
	"os"
	
	_ "github.com/joho/godotenv/autoload" // autoload environment variables
)

func main() {
	// Handle static files.
	http.Handle("/", http.FileServer(http.Dir("./static")))
	
	// Handle views.
	http.HandleFunc("/", indexViewHandler)
	
	// Run your server.
	if err := runServer(); err != nil {
		slog.Error("msg", err.Error())
		os.Exit(1)
	}
}
