package main

import (
	"log/slog"
	"net/http"

	{{ if .Tools.IsUseTempl }}
	"{{ trim .Backend.ModuleName }}/templates"
	"{{ trim .Backend.ModuleName }}/templates/pages"
	{{ end }}
	"github.com/angelofallars/htmx-go"
	"github.com/pocketbase/pocketbase/core"
)

// indexViewHandler handles a view for the index page.
func indexViewHandler(e *core.RequestEvent) error {
	{{ if .Tools.IsUseTempl }}
	// Set the response content type to HTML.
	e.Response.Header().Set("Content-Type", "text/html; charset=utf-8")

	// Define template meta tags.
	metaTags := pages.MetaTags(
		"gowebly, htmx example page, go with htmx",               // define meta keywords
		"Welcome to example! You're here because it worked out.", // define meta description
	)

	// Define template body content.
	bodyContent := pages.BodyContent(
		"Welcome to example!",                // define h1 text
		"You're here because it worked out.", // define p text
	)

	// Define template layout for index page.
	indexTemplate := templates.Layout(
		"Welcome to example!", // define title text
		metaTags,              // define meta tags
		bodyContent,           // define body content
	)

	return htmx.NewResponse().RenderTempl(e.Request.Context(), e.Response, indexTemplate)
	{{ else }}
	// Render the HTML template for the index page.
	html, err := renderHTMLTemplate("index.html")
	if err != nil {
		return e.BadRequestError("failed to render template", err)
	}

	return e.HTML(http.StatusOK, html)
	{{ end }}
}

// showContentAPIHandler handles an API endpoint to show content.
func showContentAPIHandler(e *core.RequestEvent) error {
	// Check, if the current request has a 'HX-Request' header.
	// For more information, see https://htmx.org/docs/#request-headers
	if !htmx.IsHTMX(e.Request) {
		// If not, return HTTP 400 error.
		slog.Error("request API", "method", e.Request.Method, "status", http.StatusBadRequest, "path", e.Request.URL.Path)
		return e.BadRequestError(http.StatusText(http.StatusBadRequest), nil)
	}

	// Write HTML content.
	_, err := e.Response.Write([]byte("<p>🎉 Yes, <strong>htmx</strong> is ready to use! (<code>GET /api/hello-world</code>)</p>"))
	if err != nil {
		return err
	}

	return htmx.NewResponse().Write(e.Response)
}